/*! site specific styles */
body {
    font-family: var(--font-serif);
    font-size: 1rem;
    line-height: 1.5;
    background: var(--color-tan-100);
    color: var(--color-text-default);
}


@media (min-width:600px) {  }
@media (min-width:960px) {  }

#header {
    height: 64px;
    margin-bottom: var(--spacing-64);
}

.recipe-details {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-40);
    display: flex;
    justify-content:space-between;
}

.recipe-details div {
    
}

.recipe-detail-value {
    font-size: var(--font-size-large);
}


/*! articles */

article p {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-16);
}



/*! asides */
.aside-block {
    font-size: var(--font-size-small);
    margin-bottom: var(--spacing-64);
}

.aside-bubble {
    display: block;
    padding: var(--spacing-16) var(--spacing-24);
    background-color: var(--color-white);
    border-radius: var(--radius-aside-bubble);
    border: 1px solid var(--color-border-default);
    text-decoration: none;
    color: var(--color-text-default);
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-16);
    transition: var(--motion-speed-02) var(--motion-standard);
}

.aside-bubble p {
    color: var(--color-text-light);
}

.aside-bubble:hover {
    border-color: var(--color-border-default-hover);
    text-decoration: none;
    color: var(--color-text-default);
}


/*! navigation */
#nav {
    position: absolute;
    width: 360px;
    height: 78vh;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-default);
    margin: var(--spacing-16);
    padding: var(--spacing-24);
    border-radius: 12px;
}


/*! home page */

.recipe-list {
    list-style: none;
    padding: var(--spacing-0);
}



/** 
Recipe items
These are the list items or the cards for the recipes
**/

.recipe-item {
    background-color: var(--color-white);
    box-shadow: var(--layer-pop);
    border: 1px solid var(--color-border-default);
    transition: var(--motion-speed-02) var(--motion-standard);
    border-radius: var(--radius-8);
}

.recipe-item:hover {
    box-shadow: var(--layer-hover);
    border-color: var(--color-border-default-hover);
}

/* List */
.recipe-item-list {
    position: relative;
    display: flex;
    margin-bottom: var(--spacing-16);
}

/* Card */
.recipe-item-card {
    flex: 1;
    flex-basis: 25%;
    margin-left: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    overflow: hidden;
}

/* showing cards in a grid */
.recipe-item-card:first-of-type, .recipe-item-card:nth-of-type(4n) { margin-left: 0; }


/* makin the whole card a link */
.post-link {
    text-decoration: none;
    flex: 1;
    padding: var(--spacing-16) var(--spacing-16);
    position: relative;
}

.post-link:hover {
    text-decoration: none;
}


/* Card */
.recipe-item-card .post-link {
    display: block;
    height: 340px;
    width: 100%;
    padding: var(--spacing-0);
}


/**
Titles & descriptions
**/
.recipe-card-meta {
    position: relative;
    z-index: 5;
}

/* Card */
.recipe-item-card .recipe-card-meta {
    padding: var(--spacing-16);
    position: absolute;
    bottom: var(--spacing-0);
    left: var(--spacing-0);
    right: var(--spacing-0);
}

.recipe-item-title {
    color: var(--color-text-default);
    font-family: var(--font-serif);
    margin: var(--spacing-0);
}

/* Card */
.recipe-item-card .recipe-item-title { 
    color: var(--color-text-default-inverse); 
}

.recipe-item-desc {
    font-size: var(--font-size-small);
    font-family: var(--font-sans);
    color: var(--color-text-light);
}

/* Card */
.recipe-item-card .recipe-item-desc { 
    color: var(--color-text-light-inverse); 
}


/**
Tags & Icons
The emojis displayed within the cards 
**/
.recipe-item-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    position: absolute;
    right: var(--spacing-16);
    top: var(--spacing-16);
    z-index: 5;
}

/* Card */
.recipe-item-card .recipe-item-info {
    right: var(--spacing-8);
    top: var(--spacing-8);
}

.recipe-icon {
    width: var(--spacing-24);
    height: var(--spacing-24);
    font-size: 20px;
    line-height: var(--spacing-32);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: var(--spacing-8);
}

.recipe-icon svg {
    width: var(--spacing-24);
    height: var(--spacing-24);
}

.recipe-icon:hover {
    text-decoration: none;
}

/* List */


/**
Thumbnail
**/
.post-thumb-container {
    overflow: hidden;
    background-color: var(--color-tan-300);
    border-radius: var(--radius-8);
    z-index: 1;

}

/* Card */
.recipe-item-card .post-thumb-container {
    position: absolute;
    left: var(--spacing-0);
    top: var(--spacing-0);
    width: 100%;
}

/* List */
.recipe-item-list .post-thumb-container {
    position: relative;
    width: var(--spacing-64);
    height: var(--spacing-64);
    margin-right: var(--spacing-16);
}


.post-thumb-img {
    position: relative;
    width: 100%;
    height: auto;
}

/* Card */
.recipe-card-list .post-thumb-img {

}

/* List */
.recipe-item-list .post-thumb-img {
    width: 100%;
    top: -16px;
}




/**
List specific
These styles only apply to the list layouts
**/
.recipe-list-container {
    display: flex;
}










/** 
Card specific 
These styles only apply to the card layouts
**/

.recipe-card-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(30,41,59,1) 0%, rgba(30,41,59,0.686734068627451) 26%, rgba(30,41,59,0.2357536764705882) 50%, rgba(30,41,59,0.16292454481792717) 78%, rgba(30,41,59,0.7147452731092436) 100%);
    border-radius: 6.5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}










/* aligning thumbnail in list version */
.recipe-list-container {

}





.post-intro-desc {
    color: var(--color-text-light);
    font-size: var(--font-size-large);
}


/** 
the titles and description of recipes on recipe page
**/
.recipe-meta {
    display: flex;
    border-top: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
    padding: var(--spacing-16) var(--spacing-0);
    margin-bottom: var(--spacing-24);
}

.recipe-meta div {
    flex: 1;
    padding: var(--spacing-0) var(--spacing-24);
}

.recipe-meta div:nth-of-type(2n) {
    border-left: 1px solid var(--color-border-default);
    border-right: 1px solid var(--color-border-default);
}

.recipe-meta span {
    font-size: var(--font-size-large);
}

.prep-time {

}


.page-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe-ingredients {
    margin: var(--spacing-24) var(--spacing-0) var(--spacing-72);
}

.recipe-ingredients h2 {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-16);
}

.ingredient-list {
    list-style: none;

}

.ingredient-list li {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-8);
}

.ingredient-list li ul {
    margin: var(--spacing-4) var(--spacing-0) var(--spacing-8) var(--spacing-32);
}

.ingredient-list li ul li {
    position: relative;
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
    list-style: none;
}

.ingredient-list li ul li::before {
    position: absolute;
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
    but smaller than the li gap */
    font-size: 0.65rem;
    left: -20px;
    top: 5px;
  }

.section-byline {
    margin-bottom: var(--spacing-4);
}


.post-content h3 {
    margin: var(--spacing-24) var(--spacing-0) var(--spacing-16);
}

.post-content #prep-work + ol {
    margin-bottom: var(--spacing-56);
}