/*! site specific styles */
body {
    font-family: var(--font-serif);
    font-size: 1rem;
    line-height: 1.5;
    background: var(--color-tan-100);
    color: var(--color-text-default);
}


@media (min-width:600px) {  }
@media (min-width:960px) {  }

#header {
    height: 64px;
    margin-bottom: var(--spacing-64);
}

.recipe-details {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-40);
    display: flex;
    justify-content:space-between;
}

.recipe-details div {
    
}

.recipe-detail-value {
    font-size: var(--font-size-large);
}


/*! articles */

article p {
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-16);
}



/*! asides */
.aside-block {
    font-size: var(--font-size-small);
    margin-bottom: var(--spacing-64);
}

.aside-bubble {
    display: block;
    padding: var(--spacing-16) var(--spacing-24);
    background-color: var(--color-white);
    border-radius: var(--radius-aside-bubble);
    border: 1px solid var(--color-border-default);
    text-decoration: none;
    color: var(--color-text-default);
    margin: var(--spacing-0) var(--spacing-0) var(--spacing-16);
    transition: var(--motion-speed-02) var(--motion-standard);
}

.aside-bubble p {
    color: var(--color-text-light);
}

.aside-bubble:hover {
    border-color: var(--color-border-default-hover);
    text-decoration: none;
    color: var(--color-text-default);
}


/*! navigation */
#nav {
    position: absolute;
    width: 360px;
    height: 78vh;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-default);
    margin: var(--spacing-16);
    padding: var(--spacing-24);
    border-radius: 12px;
}


/*! home page */

.recipe-list {
    list-style: none;
    padding: var(--spacing-0);
}

.recipe-item {
    position: relative;
    display: flex;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius-16);
    transition: var(--motion-speed-02) var(--motion-standard);
}

.recipe-item:hover {border-color: var(--color-border-default-hover);}

.post-link {
    text-decoration: none;
    flex: 1;
    padding: var(--spacing-16) var(--spacing-16);
}

.post-link:hover {
    text-decoration: none;
}

.post-link:hover .recipe-item-title { text-decoration: underline;}

.recipe-item-title {
    color: var(--color-text-default);
}

.recipe-item-desc {
    font-size: var(--font-size-small);
    color: var(--color-text-light);
}

.recipe-list-meta {
    position: absolute;
    right: var(--spacing-16);
    top: var(--spacing-16);
}

.recipe-icon {
    width: var(--spacing-32);
    height: var(--spacing-32);
    display: inline-flex;
    align-items: center;
    alignment-baseline: middle;
    text-decoration: none;
}

.recipe-icon:hover {
    text-decoration: none;
}








.recipe-meta {
    display: flex;
    border-top: 1px solid var(--color-border-default);
    border-bottom: 1px solid var(--color-border-default);
    padding: var(--spacing-16) var(--spacing-0);
    margin-bottom: var(--spacing-24);
}

.recipe-meta div {
    flex: 1;
    padding: var(--spacing-0) var(--spacing-24);
}

.recipe-meta div:nth-of-type(2n) {
    border-left: 1px solid var(--color-border-default);
    border-right: 1px solid var(--color-border-default);
}

.recipe-meta span {
    font-size: var(--font-size-large);
}

.prep-time {

}


.page-cards {
    display: flex;
    flex-wrap: wrap;
}

.recipe-card {
    flex: 1 0 45%;
    margin-left: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    height: 240px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border-default);
    transition: var(--motion-speed-02) var(--motion-standard);
}

.recipe-card:first-of-type, .recipe-card:nth-of-type(3n) {margin-left: 0;}