---
layout: base
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    {%- include home-filters.html -%}





    <!-- basics -->
    <h3 class="h4 home-section-header"><span>Basics</span></h3>
    <div class="page-cards">
        
      {% for post in site.categories.basics %}
          {%- include recipe-card-item.html -%}
      {% endfor %}
      
    </div>


    <!-- foundations -->

    <h3 class="h4 home-section-header"><span>Foundations</span></h3>
    <ul class="page-list">
        
      {% for post in site.categories.foundations %}
          {%- include recipe-list-item.html -%}
      {% endfor %}
    
    </ul>

    <!-- breakfast -->
    <h3 class="h4 home-section-header"><span>Breakfast</span></h3>
    <ul class="page-list">
        
      {% for post in site.categories.breakfast %}
          {%- include recipe-list-item.html -%}
      {% endfor %}
    
    </ul>

    <!-- dinner -->
    <h3 class="h4 home-section-header"><span>Dinner</span></h3>
    <ul class="page-list">
        
      {% for post in site.categories.dinner %}
          {%- include recipe-list-item.html -%}
      {% endfor %}
    
    </ul>


    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
