---
layout: base
---



<div class="recipe-container">



  <main role="main">
 <!-- article --> 
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h4>Keywords</h4>
  {% for item in page.keywords %}
        <a class="keyword" href="#" data-tooltip="{{ item | capitalize }}">
          {{ item | prepend: '#' }}
        </a>
      {% endfor %}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<!-- end article -->

</main>


<!-- end aside -->
<aside>
  <div class="aside-block recipe-info">
      <h4>Widget title</h4>
      <p>This is the key information used within this recipe and can show some helpful information like prepping or something?</p>
  </div>

  <div class="aside-block">
      <a href="#" class="aside-bubble">
          <h4>Widget title</h4>
          <p>This is a small description</p>
      </a>
      <a href="#" class="aside-bubble">
          <h4>Widget title</h4>
          <p>This is a small description</p>
      </a>
      <a href="#" class="aside-bubble">
          <h4>Widget title</h4>
          <p>This is a small description</p>
      </a>
  </div>

  <div class="aside-block recipe-related">
      <h4>Widget title</h4>
      <ul>
          <li><a href="#">Related recipe #1</a></li>
          <li><a href="#">Related recipe #2</a></li>
          <li><a href="#">Related recipe #3</a></li>
          <li><a href="#">Related recipe #4</a></li>
      </ul>
  </div>


</aside>

</div>

