---
layout: base
---



<div class="recipe-container">

 <!-- article --> 
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="breadcrumbs">
      <a href="{{ site.baseurl }}" class="">Home</a>
    </div>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-intro-desc">{{ page.description | escape }}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<!-- end article -->




</div>

